body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
}

a {
    text-decoration: none;
}

.content_wrapper {
    width: 100%;
    max-width: 970px;
    padding: 0;
    margin: 0 auto;
}

/* Header */

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    min-height: 80px;

    border-bottom: 1px solid #828282;
}

.nav_list, .nav_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
}

.nav_link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: 0.02em;
    color: #828282
}

li:first-child a {
    color: #070707;
}

/* Main */

.name {
    margin-top: 12px;
    margin-bottom: 50px;
    text-align: left;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;

    /* Black */

    color: #070707;
}

.my_photo {
    display: block;
    width: 100%;
}

.about_me {
    background-color: #F6F6F6;
    height: 100%;
    min-height: 500px;
}

.about_me_title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;

    /* Black */

    color: #070707;
    margin: 0;
    padding-top: 100px;
}

.about_me_text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    /* Black */

    color: #070707;

    margin: 0;
}

.text_wrapper {
    width: 100%;
    max-width: 480px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;

    margin: 50px auto;
}